.footer {
	.wrapper {
		@include flexColumn;
		gap: 1.3rem;
		justify-content: center;
		max-width: 1440px;
		height: 100%;
		margin: auto;
		padding: 0 clamp(8rem, 14vw, 12rem);
		font-size: 0.8rem;
		font-weight: weight(light);
		color: color(textGray);

		&__p {
			font-weight: inherit;
			max-width: 348px;
			&-center {
				font-weight: inherit;
				text-align: center;
				@media screen and (min-width: 440px) {
					//FIX MEDIA QUERIES
					text-align: left;
				}
			}
		}
		@media screen and (max-width: $breakpointFor-desktop) {
			padding: 0;
		}
	}
}
