.journey {
	display: flex;
	align-items: center;
	justify-content: space-between;

  @media screen and (max-width: 650px) {
    flex-wrap: wrap;
  }

  &__img:nth-last-child(2){
    @media screen and (max-width: 650px) {
      display: none;
    }
  }


  &__img{
    @media screen and (max-width: 440px) {
      width: 10px;
    }
  }

	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.5rem;
    gap: 5px;

    @media screen and (max-width: $breakpointFor-desktop) {
      width: clamp(40px, 10vw, 60px);
    }

    @media screen and (max-width: 650px) {
      flex: 0 0 calc(33.33% - 20px);
    }
    


    img{
      width: clamp(35%,7vw,100%);
    }
		&__p {
			&-bold {
				font-weight: weight(bold);
				text-transform: lowercase;
			}
		}
	}

	.itemFinal {
		background-color: color(card);
		width: clamp(125px, 20.5vw, 18.375rem);
    height: clamp(5.5rem, 8.3vw, 7.5rem);
		flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid color(border);
    border-radius: 3px;

     @media screen and (max-width: 650px) {
      order: 2;
      flex-basis: 100%;
      margin-top: 1rem;
    }

		&__title {
			text-transform: uppercase;
			font-weight: weight(light);
      font-size: clamp(1rem, 1.6vw, 1.41625rem);

			&-bold {
        font-size: clamp(2rem, 3.6vw, 3.20144rem);
				font-weight: weight(bold);
        line-height: clamp(2rem, 3.5vw, 3.125rem);
			}
		}
	}
}
