@mixin mainButton {
	width: 111px;
	height: 32px;
	background-color: color(accentGreen);
	color: color(textWhite);
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

@mixin flexItemsCenter($gapSize) {
	display: flex;
	align-items: center;
	gap: $gapSize;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column
}

@mixin desktopNav($gapSize) {
	@include flexItemsCenter($gapSize);
	padding: 0.5rem;
	border-radius: 0.375rem;
	border: 1px solid transparent;
	scale: 1;
	transition: background-color 0.25s, scale 0.25s;
	&:hover {
		color: color(textWhite);
		background-color: color(card);
		border: 1px solid color(border);
		scale: 1.02;
	}
}
