.navMobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;



	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: color(background);
		z-index: 1;
	}

	&__burger {
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding: $xAxisSpacingMobile;
		z-index: 3;

		@media screen and (max-width:440px){
			padding: 2rem
			}

		.line {
			width: 35px;
			height: 3px;
			background-color: color(textGray);
		}
	}

	.wrapper {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3rem;

		&__logo {
			text-transform: uppercase;
			font-size: 2.9rem;
			scale: 1;
			transition: scale 0.25s;
			text-align: center;

			&-bold {
				font-weight: weight(bold);
			}

			&:hover {
				scale: 1.02;
			}
		}

		&__UL {
			li {
				padding: 1rem 0;
				padding-left: 3rem;
				border-bottom: 3px solid color(border);

				a {
					display: flex;
					gap: 3%;
					font-size: 1.3rem;
				}
			}
		}
	}

	&__cart {
		@include desktopNav(0.2rem);
		cursor: pointer;
		padding: $xAxisSpacingMobile;
		@media screen and (max-width:440px){
		padding: 2rem
		}
	}

  @media screen and (min-width: $breakpointFor-desktop) {
      display:none
  }

}

/// OPTIMIZEAZA
