.navDesktop {
	@include flexItemsCenter(0);
	justify-content: space-between;
	max-width: 1440px;
	height: 100%;
	margin: auto;
	padding: 0 $xAxisSpacing;

	.wrapper {
		@include flexItemsCenter($navDesktopWrapperGap);

		&__logo {
			text-transform: uppercase;
			font-size: 2.25rem;
			scale: 1;
			transition: scale 0.25s;

			&-bold {
				font-weight: weight(bold);
			}

			&:hover {
				scale: 1.02;
			}
		}

		ul {
			@include flexItemsCenter($navDesktopULGap);

			a {
				@include desktopNav(0.2rem);
			}
		}
	}

	&__cart {
		@include desktopNav(0.2rem);
		cursor: pointer;
	}

	@media (max-width: $breakpointFor-desktop) {
		display: none;
	}
}
