$primaryFont: 'Ubuntu';
$colors: (
  'background': #1b212b,
  'nav': #141922,
  'accentGreen': #46C351,
  'card': #272B35,
  'border': #181D26,
  'textWhite': #FFF,
  'textGray': #A9B5CC
);
$fontWeights: (
  'light': 300,
  'regular': 400,
  'bold': 700
);