@import "./variables";
@import "./functions";
@import "./mixins";
@import "./normalize";
@import "./navDesktop";
@import "./navMobile";
@import "./footer";
@import "./package";

body {
	font-family: $primaryFont;
	font-weight: weight(regular);
	color: color(textGray);
	background-color: color(background);
}

header {
	background-color: color(nav);
	height: 3.75rem; // 60px
}

main {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: auto;
	padding: $yAxisSpacing $xAxisSpacing;
	min-height: 100vh;
	@media screen and (max-width: $breakpointFor-desktop) {
			padding: $yAxisSpacing $xAxisSpacingMobile
	}
	@media screen and (max-width:440px){
		padding: $yAxisSpacing 2rem
		}
}

footer {
	background-color: color(nav);
	padding: 0 $xAxisSpacing;
	height: 7.5rem; // 120px
	@media screen and (max-width: $breakpointFor-desktop) {
		padding: 0 $xAxisSpacingMobile
	}
	@media screen and (max-width:440px){
		padding: 0 2rem
	}
}

.hide {
	display: none !important;
}
